appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.3.4
certifi==2020.12.5
distlib==0.3.1
Django==3.2
django-common-helpers==0.9.2
django-cron==0.5.1
django-phonenumber-field==5.1.0
django-telegrambot==1.0.1
filelock==3.0.12
importlib-metadata==3.10.0
importlib-resources==5.1.2
phonenumberslite==8.12.23
Pillow==8.2.0
python-telegram-bot==13.5
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
virtualenv==20.4.3
zipp==3.4.1
