{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'accounts:dashboard' %}">{% translate "My Dashboard" %} </a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading">{% translate "My Account" %}</a>
            <ul>
                
                {#<li class="pure-menu-heading"></li>#}
                <li><a href="{% url 'telegrambot:dashboard' %}">{% translate "Telegram accounts" %}</a></li>
                <li><a href="{% url 'accounts:edit' %}">{% translate "Edit Account" %}</a></li>
                <li><a href="{% url 'accounts:edit_password' %}">{% translate "Edit Password" %}</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
            <p><strong>{% translate "User" %}</strong>: {{ user }}</p>
            <p><strong>{% translate "E-mail" %}</strong>: {{ user.email }}</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}