{% extends "scales/dashboard.html" %}
{% load i18n call_method %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li><a href="{% url 'scales:scale' function.pk %}">{{function}}</a></li>
{% endblock %}

{% block dashboard_content %}

<h3>{{function}}</h3>
{% block description_content %}
    <table>
        <thead>
            <tr>
                <td>{% translate 'Date' %}</td>
                <td>{% translate 'Person' %}</td>
            </tr>
        </thead>
        <tbody>

            {% for sc in scale %}
            <tr>
                <td>{{sc.program}}</td>
                <td>
                    {% for us in sc.person.get_queryset %}
                    {{us}}
                    {% if us == user %}
                    {% if sc|has_nconf:user  %}
                    <a href="{% url 'scales:confirm' sc.pk %}">c</a>
                    {% endif %}
                    {% endif %},
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if leader %}
    <p><a class="tertiary-button" href="{% url 'scales:edit' function.pk %}" >{% translate 'Set Person' %}</a></p>
{% endif %}
{% endblock %}

{% endblock %}