{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    IASD Gercino Coelho
                </h1>
                <h2 class="splash-subhead">
                    {% translate "The Scale System seeks to concentrate agendas and manage time conflicts, facilitating the work of marking the functions to be performed in worship services." %}
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="content">
    {% if resume %}
    {% for pg in resume %}

    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1-3">
            <div class="l-box">
                {% if pg.image %}
                <img src="{{ pg.image.url }}" alt="{{ pg }}" />
                {% else %}
                <img src="{% static 'programs/img/400x250.png' %}" alt="{{ pg }}" />
                {% endif %}
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h3>{{pg}}</h3>
                <p>
                    {{pg.description}}
                </p>
                <h4><a class="pure-button primary-button" href='{% url "programs:description" pg.pk %}'>{% translate "See Details" %}</a>
                </h4>
            </div>
        </div>

    </div>
    {% endfor %}
    {% else %}
    {% translate "There are no one programs soon" %}
    {% endif %}
</div>
{% endblock %}