<!doctype html>
{% load static %}
{% load i18n call_method%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="{% translate 'Scale System - Application to manage programs and functions of people' %}" />
    <title>{% block page_title %}{% translate "Scale System" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}" />
    {% block head %}{% endblock %}
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="{% url 'core:home' %}">{% translate "SCALE SYSTEM"%}</a>
            <ul>
                <li class="pure-menu-selected"><a href="{% url 'core:home' %}">{% translate "Home" %}</a></li>
                <li><a href="{% url 'programs:dashboard' %}">{% translate "Program" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'ministries:dashboard' %}">{% translate "Ministry" %}</a></li>
                {% if user|has_ministry %}
                <li><a href="#">{% translate "Scale" %}</a></li>
                {% endif %}
                {% if user|has_group:'Treasurer' %}
                <li><a href="#">{% translate "Treasury" %}</a></li>
                {% endif %}
                {% endif %}
                {#<li><a href="{% url 'courses:index' %}">Cursos</a></li>#}
                <li><a href="{% url 'core:contact' %}">{% translate "Contact" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:dashboard' %}">{{user.get_first_name}}</a></li>
                <li><a href="{% url 'accounts:logout' %}">{% translate "Logout" %}</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">{% translate "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
        <div class="footer">
            {% translate 'Scale System - Application to manage programs and functions of people' %}
        </div>
    </div>
    <script src="{% static 'core/js/yui-min.js' %}"></script>
</body>

</html>