{% extends "ministries/dashboard.html" %}
{% load i18n %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li><a href="{% url 'ministries:all' %}">{% translate "All Ministries" %}</a></li>
{% endblock %}

{% block dashboard_content %}

<h3 >{% translate "All Ministries" %}</h3>
{% if ministries %}
<ul class="link-list">
        {% for min in ministries %}
        <li class="link-list-item"><a href="{% url 'ministries:description' min.slug %}">{{min}}</a></li>
        {% endfor %}
</ul>

{% endif %}

{% endblock %}