{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'ministries:dashboard' %}">{% translate "Ministries" %}</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading">{% translate "Engaged in" %}</a>
            <ul>
                {% if my_engaged %}
                {% for min in my_engaged %}
                <li><a href="{% url 'ministries:description' min.slug %}">{{min}}</a></li>
                {% endfor %}
                {% else %}
                {% translate "You are engaged in no Ministries" %}
                {% endif %}
                <li><a href="{% url 'ministries:all'%}">{% translate "All Ministries" %}</a></li>
                {% if my_ministries %}
                <li class="pure-menu-heading">{% translate "My ministries" %}</li>
                {% for min in my_ministries %}
                <li><a href="{% url 'ministries:description' min.slug %}">{{min}}</a></li>
                {% endfor %}
                {% endif %}
                {% if perms.ministries.add_ministry %}
                <li class="pure-menu-heading">{% translate "Owner" %}</li>
                <li><a href="{% url 'ministries:register' %}">{% translate "Create Ministry" %}</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
            <div>
                <p class="name"><strong>{% translate "User" %}</strong>:</p>
                <p>{{ user }}</p>
                <hr>
            </div>
            {% if my_engaged %}
            <div>
                <div>
                    <p>
                        <strong>{% translate 'List of Ministries with functions' %}</strong>:
                    </p>
                    <span>
                        {% for min in my_engaged %}
                        {{min}}, 
                        {% endfor %}
                    </span>
                </div>
                {% endif %}
                {% if my_ministries %}
                <div>
                    <p>
                        <strong>{% translate 'My ministries' %}</strong>:
                    </p>
                    <span>
                        {% for min in my_ministries %}
                        {{min}}, 
                        {% endfor %}
                        {% endif %}
                    </span>
                </div>
            </div>
            
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}