{% extends "ministries/dashboard.html" %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}
{% load i18n %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li><a href="{% url 'ministries:description' ministry.slug %}">{{ministry}}</a></li>
<li>/</li>
<li><a href="{% url 'ministries:description' ministry.slug %}">{{function}}</a></li>
<li>/</li>
<li><a href="{% url 'ministries:edit-function' ministry.slug function.pk %}">{% translate "Edit Function" %}</a></li>
{% endblock %}

{% block dashboard_content %}
<h3 >{{Function}}</h3>
<form class="pure-form pure-form-stacked" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">{% translate "Save" %}</button>
        </div>
    </fieldset>
</form>
{% endblock %}