<input type="{{ widget.type }}" id="{{id}}_value" name="{{ widget.name }}_value"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<input type="hidden" id="{{id}}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
<script>
    $(function () {
        var availableTags = {% autoescape off %} {{ options }} {% endautoescape %};
        multiauto($('#{{id}}_value'),$('#{{id}}'),availableTags);
    });
</script>