{% extends "programs/dashboard.html" %}
{% load i18n static %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li><a href="{% url 'programs:description' program.pk %}">{{program}}</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="pure-g-r content-ribbon">

    <div class="pure-u-2-3" style="margin-top: 0">

        <h3>{{program}}</h3>
        {% block description_content %}
        <div>
            {% if program.transmission %}
            <p>
                <strong>{% translate "Transmission:"%}</strong><br>
                Você poderá acompanhar o programa através do link:
                <a href="{{program.transmission}}">Youtube</a>
            </p>
            {% endif %}
            {% if program.room %}
            <p>
                <strong>{% translate "Room:"%}</strong><br>
                Você poderá participar do programa através do link:
                <a href="{{program.room}}">Zoom</a>
            </p>
            {% endif %}
            {% if program.presential %}
            <p>
                <strong>{% translate "Presential:"%}</strong><br>
                Você poderar assistir o programa presencialmente.
                {% if program.iscription %}
                Basta realizar a sua inscrição pelo contato do
                <a href="#">Whatsapp</a> e aguardar a confirmação
                de vaga.
                {% endif %}
                <br>A localização da igreja pode ser encontrada na página de
                <a href="{% url 'core:contact' %}">contato</a>
            </p>
            {% endif %}
        </div>
        {% endblock %}
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            {% if program.image %}
            <img src="{{ program.image.url }}" alt="{{ program }}" />
            {% else %}
            <img src="{% static 'programs/img/400x250.png' %}" alt="{{ program }}" />
            {% endif %}
        </div>
        <p> {{program.description}}<br>
            {% block cross_link %}
            <a class="pure-button primary-button" href="{% url 'programs:program' program.pk %}">{% translate "See program" %}</a>
            {% endblock %}
        </p>
        {% if perms.programs.change_program %}
        <p>
            <strong>{% translate "Owner"%}</strong><br>
            <a class="pure-button secondary-button" href="{% url 'programs:edit' program.pk %}">{% translate "Edit Program"%}</a><br>
            <a class="pure-button secondary-button" href="{% url 'programs:edit-time' program.pk %}">{% translate "Edit Program Times"%}</a>
            <a class="pure-button secondary-button" href="{% url 'programs:astemplate' program.pk %}">{% translate "Use as Template"%}</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}