{% extends "programs/description.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li><a href="{% url 'programs:program' program.pk %}">{% translate "Edit Schedule of Program" %}</a></li>
{% endblock %}

{% block description_content %}

<form method="POST">
    {% csrf_token %}
    {{form}}
<input type="submit"/>
</form>

{% endblock %}

{% block cross_link %}
    <a href="{% url 'programs:description' program.pk %}">{% translate "See details" %}</a>
{% endblock %}